@font-face {
  font-family: Roboto;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/roboto/roboto_n4.da808834c2315f31dd3910e2ae6b1a895d7f73f5.woff2?h1=ZWFyZ2FzbWVhcnBsdWdzLmNvbQ&h2=ZWFyZ2FzbS5jb20&hmac=759f7b0bf408950eaa14a356882e8477bee20b5096d69a7262f9782c66f212f1") format("woff2"),
       url("https://fonts.shopifycdn.com/roboto/roboto_n4.a512c7b68cd7f12c72e1a5fd58e7f7315c552e93.woff?h1=ZWFyZ2FzbWVhcnBsdWdzLmNvbQ&h2=ZWFyZ2FzbS5jb20&hmac=08278643b5190d60abc9115fd681058b277a848b7da2c8bd5dbaa7b4ed2ab4de") format("woff");
}

@font-face {
  font-family: Roboto;
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/roboto/roboto_i4.f98951b4b9b6e1096fc799cd05debd098bd422ac.woff2?h1=ZWFyZ2FzbWVhcnBsdWdzLmNvbQ&h2=ZWFyZ2FzbS5jb20&hmac=8f42293e469206993263d4c15f3e6e3bd5b59bb002994c195ec2ca8f0be05651") format("woff2"),
       url("https://fonts.shopifycdn.com/roboto/roboto_i4.688a26691d45bc4053b6ae24a196cabdeedbc25c.woff?h1=ZWFyZ2FzbWVhcnBsdWdzLmNvbQ&h2=ZWFyZ2FzbS5jb20&hmac=f1a6c0957612364591a8a7a7d14f631d151b8b816c738b6e67fcbb6ff636a9dd") format("woff");
}

@font-face {
  font-family: Roboto;
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/roboto/roboto_n7.51ede27d5b58491d9cf07ad184108da52fef80b4.woff2?h1=ZWFyZ2FzbWVhcnBsdWdzLmNvbQ&h2=ZWFyZ2FzbS5jb20&hmac=b3e37da87f53036decaf7cdc0a8d37c95d27d58128a21910dcee860e4d18a0bf") format("woff2"),
       url("https://fonts.shopifycdn.com/roboto/roboto_n7.1babbb6a27f91b14216bafa40bf222e08f6999f4.woff?h1=ZWFyZ2FzbWVhcnBsdWdzLmNvbQ&h2=ZWFyZ2FzbS5jb20&hmac=a85f6e1d3758f27e653086fe743d000ed0a727564c001903352b9c8364ce592a") format("woff");
}

  @font-face {
  font-family: Roboto;
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/roboto/roboto_i7.9c922c35bb84952cfb17e8c1d42e440e75aa8ccf.woff2?h1=ZWFyZ2FzbWVhcnBsdWdzLmNvbQ&h2=ZWFyZ2FzbS5jb20&hmac=3e24e4cbd417ab8abdb926a40717c8a8472df987769b51e136220d7e6a2d6567") format("woff2"),
       url("https://fonts.shopifycdn.com/roboto/roboto_i7.c50b5683f5731edb8040ff2110a54947108434de.woff?h1=ZWFyZ2FzbWVhcnBsdWdzLmNvbQ&h2=ZWFyZ2FzbS5jb20&hmac=8b1041e824a24bd151b89d56147d50147f6c1fdf76c90b621bb0278de459afb3") format("woff");
}

@font-face {
  font-family: Bitter;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/bitter/bitter_n4.305cabfe2567ff2da1669dd36245f4d6e9f790e4.woff2?h1=ZWFyZ2FzbWVhcnBsdWdzLmNvbQ&h2=ZWFyZ2FzbS5jb20&hmac=830595e46bd91096462e76d3b4867fb2998e7749c800e8dc2a19cb7068a8b27b") format("woff2"),
       url("https://fonts.shopifycdn.com/bitter/bitter_n4.7b8fe2a6ecf51bd3f3a25ad5b8605a0119a8336b.woff?h1=ZWFyZ2FzbWVhcnBsdWdzLmNvbQ&h2=ZWFyZ2FzbS5jb20&hmac=4a0e3cf0d79c2e27351253478022ea06825b84bdeaa9dde041b82b2a90218672") format("woff");
}

@font-face {
  font-family: Bitter;
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/bitter/bitter_i4.4507bc0970c49e43c059c530045a53daeddb5cfa.woff2?h1=ZWFyZ2FzbWVhcnBsdWdzLmNvbQ&h2=ZWFyZ2FzbS5jb20&hmac=207105a2816d0dee8819310d621a19dcb85d67352684eef339be8f22cc851dc9") format("woff2"),
       url("https://fonts.shopifycdn.com/bitter/bitter_i4.0a06fcb649fedf96787c093e9ffe72b6911a7e27.woff?h1=ZWFyZ2FzbWVhcnBsdWdzLmNvbQ&h2=ZWFyZ2FzbS5jb20&hmac=753ccc4356a7bdcadca4987df040470726a5a1a766c2d9e33944820011ac8511") format("woff");
}

@font-face {
  font-family: Bitter;
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/bitter/bitter_n7.5cd2af561a4e68a216346475ceaf10ca55adb978.woff2?h1=ZWFyZ2FzbWVhcnBsdWdzLmNvbQ&h2=ZWFyZ2FzbS5jb20&hmac=200631fbec9fbd462f41c89a44a2d6ac5fe22d50e5d88e1d7b928ed44ad3de5f") format("woff2"),
       url("https://fonts.shopifycdn.com/bitter/bitter_n7.9c5e546089ff22210f854b74f8b408a0245252c1.woff?h1=ZWFyZ2FzbWVhcnBsdWdzLmNvbQ&h2=ZWFyZ2FzbS5jb20&hmac=be3d110d16189250fe18986b8a78d2c77011e80ff4fee211c4fd6d8a7db19663") format("woff");
}

  

  
@font-face {
  font-family: Bitter;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/bitter/bitter_n4.305cabfe2567ff2da1669dd36245f4d6e9f790e4.woff2?h1=ZWFyZ2FzbWVhcnBsdWdzLmNvbQ&h2=ZWFyZ2FzbS5jb20&hmac=830595e46bd91096462e76d3b4867fb2998e7749c800e8dc2a19cb7068a8b27b") format("woff2"),
       url("https://fonts.shopifycdn.com/bitter/bitter_n4.7b8fe2a6ecf51bd3f3a25ad5b8605a0119a8336b.woff?h1=ZWFyZ2FzbWVhcnBsdWdzLmNvbQ&h2=ZWFyZ2FzbS5jb20&hmac=4a0e3cf0d79c2e27351253478022ea06825b84bdeaa9dde041b82b2a90218672") format("woff");
}

@font-face {
  font-family: Bitter;
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/bitter/bitter_i4.4507bc0970c49e43c059c530045a53daeddb5cfa.woff2?h1=ZWFyZ2FzbWVhcnBsdWdzLmNvbQ&h2=ZWFyZ2FzbS5jb20&hmac=207105a2816d0dee8819310d621a19dcb85d67352684eef339be8f22cc851dc9") format("woff2"),
       url("https://fonts.shopifycdn.com/bitter/bitter_i4.0a06fcb649fedf96787c093e9ffe72b6911a7e27.woff?h1=ZWFyZ2FzbWVhcnBsdWdzLmNvbQ&h2=ZWFyZ2FzbS5jb20&hmac=753ccc4356a7bdcadca4987df040470726a5a1a766c2d9e33944820011ac8511") format("woff");
}

@font-face {
  font-family: Bitter;
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/bitter/bitter_n7.5cd2af561a4e68a216346475ceaf10ca55adb978.woff2?h1=ZWFyZ2FzbWVhcnBsdWdzLmNvbQ&h2=ZWFyZ2FzbS5jb20&hmac=200631fbec9fbd462f41c89a44a2d6ac5fe22d50e5d88e1d7b928ed44ad3de5f") format("woff2"),
       url("https://fonts.shopifycdn.com/bitter/bitter_n7.9c5e546089ff22210f854b74f8b408a0245252c1.woff?h1=ZWFyZ2FzbWVhcnBsdWdzLmNvbQ&h2=ZWFyZ2FzbS5jb20&hmac=be3d110d16189250fe18986b8a78d2c77011e80ff4fee211c4fd6d8a7db19663") format("woff");
}

  
@font-face {
  font-family: Roboto;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/roboto/roboto_n4.da808834c2315f31dd3910e2ae6b1a895d7f73f5.woff2?h1=ZWFyZ2FzbWVhcnBsdWdzLmNvbQ&h2=ZWFyZ2FzbS5jb20&hmac=759f7b0bf408950eaa14a356882e8477bee20b5096d69a7262f9782c66f212f1") format("woff2"),
       url("https://fonts.shopifycdn.com/roboto/roboto_n4.a512c7b68cd7f12c72e1a5fd58e7f7315c552e93.woff?h1=ZWFyZ2FzbWVhcnBsdWdzLmNvbQ&h2=ZWFyZ2FzbS5jb20&hmac=08278643b5190d60abc9115fd681058b277a848b7da2c8bd5dbaa7b4ed2ab4de") format("woff");
}

@font-face {
  font-family: Roboto;
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/roboto/roboto_i4.f98951b4b9b6e1096fc799cd05debd098bd422ac.woff2?h1=ZWFyZ2FzbWVhcnBsdWdzLmNvbQ&h2=ZWFyZ2FzbS5jb20&hmac=8f42293e469206993263d4c15f3e6e3bd5b59bb002994c195ec2ca8f0be05651") format("woff2"),
       url("https://fonts.shopifycdn.com/roboto/roboto_i4.688a26691d45bc4053b6ae24a196cabdeedbc25c.woff?h1=ZWFyZ2FzbWVhcnBsdWdzLmNvbQ&h2=ZWFyZ2FzbS5jb20&hmac=f1a6c0957612364591a8a7a7d14f631d151b8b816c738b6e67fcbb6ff636a9dd") format("woff");
}

@font-face {
  font-family: Roboto;
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/roboto/roboto_n7.51ede27d5b58491d9cf07ad184108da52fef80b4.woff2?h1=ZWFyZ2FzbWVhcnBsdWdzLmNvbQ&h2=ZWFyZ2FzbS5jb20&hmac=b3e37da87f53036decaf7cdc0a8d37c95d27d58128a21910dcee860e4d18a0bf") format("woff2"),
       url("https://fonts.shopifycdn.com/roboto/roboto_n7.1babbb6a27f91b14216bafa40bf222e08f6999f4.woff?h1=ZWFyZ2FzbWVhcnBsdWdzLmNvbQ&h2=ZWFyZ2FzbS5jb20&hmac=a85f6e1d3758f27e653086fe743d000ed0a727564c001903352b9c8364ce592a") format("woff");
}

  @font-face {
  font-family: Roboto;
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/roboto/roboto_i7.9c922c35bb84952cfb17e8c1d42e440e75aa8ccf.woff2?h1=ZWFyZ2FzbWVhcnBsdWdzLmNvbQ&h2=ZWFyZ2FzbS5jb20&hmac=3e24e4cbd417ab8abdb926a40717c8a8472df987769b51e136220d7e6a2d6567") format("woff2"),
       url("https://fonts.shopifycdn.com/roboto/roboto_i7.c50b5683f5731edb8040ff2110a54947108434de.woff?h1=ZWFyZ2FzbWVhcnBsdWdzLmNvbQ&h2=ZWFyZ2FzbS5jb20&hmac=8b1041e824a24bd151b89d56147d50147f6c1fdf76c90b621bb0278de459afb3") format("woff");
}

@font-face {
  font-family: Roboto;
  font-weight: 100;
  font-style: normal;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/roboto/roboto_n1.c0eade3702dbcdaf6bcfe2c3bb8a2cfd92b00f0a.woff2?h1=ZWFyZ2FzbWVhcnBsdWdzLmNvbQ&h2=ZWFyZ2FzbS5jb20&hmac=69853eff9b2ebe2b7a37406eca43faf9f2832808a3726f6f4bfb3ff2698ebc8d") format("woff2"),
       url("https://fonts.shopifycdn.com/roboto/roboto_n1.ba6a9df663e398c6d3f0837aeb2fa362341c7a09.woff?h1=ZWFyZ2FzbWVhcnBsdWdzLmNvbQ&h2=ZWFyZ2FzbS5jb20&hmac=df74fd126258436d5447f51c8bf4bec150260e112ad2a8ed12e8db4c3a2afcf6") format("woff");
}

  @font-face {
  font-family: Roboto;
  font-weight: 100;
  font-style: italic;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/roboto/roboto_i1.14768b9c4382559e9f188f7918f75430d72ee651.woff2?h1=ZWFyZ2FzbWVhcnBsdWdzLmNvbQ&h2=ZWFyZ2FzbS5jb20&hmac=887a968e583f8887d94ba01e29d90c71b6541ab370342ef32cc9b4f0cd906423") format("woff2"),
       url("https://fonts.shopifycdn.com/roboto/roboto_i1.15073f8149268ef52c7756457a9c09b213557c20.woff?h1=ZWFyZ2FzbWVhcnBsdWdzLmNvbQ&h2=ZWFyZ2FzbS5jb20&hmac=96ae16db408c6b3181cff3c4a8f0b94fdc303b0fec1b145e26640edcfa3ddd2b") format("woff");
}




  

  
  

  
  
  

  
  
  

  
  
  

  

  
  

  
  

  
  
  

  
  

  
  
@keyframes placeholder-pulse {
  from {
    background-color: 






#f2f2f2




;
  }
  to {
    background-color: #e5e5e5;
  }
}
.template-gift_card {
  font-family: Roboto,sans-serif;
  font-style: normal;
  font-weight: 400;
}
.template-gift_card a {
  text-decoration: none;
}
.template-gift_card .btn {
  display: inline-block;
  padding: 1.5em;
  font-size: 0.875em;
  line-height: 1;
  letter-spacing: 0.1em;
  color: #fff;
  text-transform: uppercase;
  vertical-align: baseline;
  background-color: #58686f;
  border-radius: 4px;
  zoom: 1;
}
.template-gift_card .btn:hover {
  background-color: #414d53;
}
.template-gift_card .wrap {
  width: 95%;
  max-width: 540px;
  margin: 0 auto;
}
.template-gift_card .wrap::after {
  display: table;
  clear: both;
  content: "";
}
@keyframes slideup {
  0% {
    opacity: 0;
    transform: translateY(2000px) rotate(10deg);
  }
  60% {
    opacity: 1;
    transform: translateY(-30px);
  }
  80% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0) rotate(0deg);
  }
}
@keyframes popup {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  60% {
    opacity: 1;
    transform: translateY(-10px);
  }
  80% {
    transform: translateY(2px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes container-slide {
  0% {
    opacity: 0;
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
.template-gift_card header {
  padding: 3em 0;
  text-align: center;
  animation: fadein 0.5s ease-in-out both 0.4s;
}
.template-gift_card .shop-title {
  font-family: Bitter,serif;
  font-style: normal;
  font-weight: 400;
  display: block;
  max-width: 300px;
  margin: 0 auto;
  font-size: 2.25em;
  color: #bfbfbf;
}
.template-gift_card .shop-title:hover {
  color: #999;
}
.template-gift_card .shop-title img {
  max-height: 100%;
  margin: 0 auto;
}
.template-gift_card main {
  padding-bottom: 3em;
  animation: slideup 0.8s ease-in-out;
}
.template-gift_card .gift-card-outer-container {
  padding: 1em;
  background-color: #34aadc;
  border-radius: 4px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1) inset;
  animation: container-slide 0.8s ease-in-out;
}
.template-gift_card .gift-card-inner-container {
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
  animation: cardslide 0.8s ease-in-out;
}
.template-gift_card .gift-card-inner-container::after {
  display: table;
  clear: both;
  content: "";
}
.template-gift_card .gift-card-header {
  position: relative;
  display: block;
  padding: 0.75em;
  overflow: hidden;
  border-bottom: 1px solid #f2f2f2;
}
.template-gift_card .gift-card-header h2 {
  float: left;
  margin: 0.12em 0;
  font-family: Bitter,serif;
  font-style: normal;
  font-weight: 300;
}
.template-gift_card .gift-card-header .tag {
  float: right;
}
.template-gift_card .tag {
  padding: 0.5em;
  padding-bottom: 0.35em;
  font-size: 0.75em;
  line-height: 1;
  letter-spacing: 0.05em;
  color: #fff;
  text-transform: uppercase;
  background-color: #bfbfbf;
  border-radius: 4px;
}
.template-gift_card .tag.light {
  color: #bfbfbf;
  background: transparent;
  border: 1px solid #d9d9d9;
}
.template-gift_card .gift-card-holder {
  position: relative;
  margin: 1.25em 0.75em;
}
.template-gift_card .gift-card-holder .corner {
  position: absolute;
  z-index: 2;
  display: block;
  width: 47px;
  height: 47px;
}
.template-gift_card .gift-card-holder .corner.top-left {
  top: -1px;
  left: -1px;
  background: url("//cdn.shopify.com/s/assets/gift-card/corner-top-left-1585103bdd46bf1297b88f31bdfce999.png") 0 0 no-repeat;
}
.template-gift_card .gift-card-holder .corner.bottom-right {
  right: -1px;
  bottom: -1px;
  background: url("//cdn.shopify.com/s/assets/gift-card/corner-bottom-right-ba899b18631cb91859e186c2cc1c6970.png") 0 0 no-repeat;
}
.template-gift_card .gift-card {
  position: relative;
  box-sizing: border-box;
}
.template-gift_card .gift-card::before {
  position: absolute;
  z-index: 1;
  display: block;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-radius: 10px;
  content: "";
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  -webkit-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.template-gift_card .gift-card img {
  max-width: 100%;
  border-radius: 10px;
}
.template-gift_card .gift-card-code-outer {
  position: absolute;
  bottom: 1em;
  width: 100%;
  text-align: center;
}
.template-gift_card .gift-card-code-outer.medium {
  font-size: 0.875em;
}
.template-gift_card .gift-card-code-outer.small {
  font-size: 0.75em;
}
.template-gift_card .gift-card-code-inner {
  display: inline-block;
  max-width: 450px;
  padding: 0.5em;
  vertical-align: baseline;
  background-color: #fff;
  border-radius: 4px;
  zoom: 1;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
}
.template-gift_card .gift-card-code-inner strong {
  font-style: normal;
  font-weight: 400;
  display: inline-block;
  padding: 0.4em 0.5em;
  font-size: 1.875em;
  line-height: 1;
  color: #777;
  text-transform: uppercase;
  vertical-align: baseline;
  border: 1px dashed #e5e5e5;
  border-radius: 2px;
  zoom: 1;
}
.template-gift_card .small .gift-card-code-inner {
  overflow: auto;
}
.template-gift_card .disabled .gift-card-code-inner strong {
  color: #999;
  text-decoration: line-through;
}
.template-gift_card .gift-card-code-inner span + span {
  margin-left: 0.25em;
}
.template-gift_card .gift-card-amount {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.4em 0.5em;
  font-size: 2.75em;
  color: #fff;
}
.template-gift_card .gift-card-amount.medium {
  font-size: 2.25em;
}
.template-gift_card .gift-card-amount strong {
  display: block;
  text-shadow: 3px 3px 0 rgba(0, 0, 0, 0.1);
}
.template-gift_card .tooltip {
  position: relative;
}
.template-gift_card .tooltip:hover .tooltip-container {
  display: block;
}
.template-gift_card .tooltip-container {
  position: absolute;
  top: -50%;
  right: 50%;
  z-index: 3;
  display: block;
  margin-top: 0.25em;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  animation: popup 0.5s ease-in-out both 0.7s;
}
.template-gift_card .tooltip-triangle {
  position: absolute;
  bottom: 0;
  left: 100%;
  display: block;
  width: 0;
  height: 0;
  margin-bottom: -5px;
  margin-left: -5px;
  border-top: 5px solid rgba(51, 51, 51, 0.9);
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  content: "";
}
.template-gift_card .tooltip-label {
  font-family: Roboto,sans-serif;
  font-style: normal;
  font-weight: 400;
  display: block;
  position: relative;
  right: -50%;
  display: block;
  min-height: 14px;
  padding: 0.5em 0.75em;
  margin-left: 0.25em;
  font-size: 0.4em;
  font-weight: 400;
  line-height: 16px;
  color: #fff;
  text-decoration: none;
  text-shadow: none;
  background: rgba(51, 51, 51, 0.9);
  border: 0;
  border-radius: 4px;
}
.template-gift_card .gift-card-instructions {
  margin: 0 0.75em 1.5em;
  font-size: 0.875em;
  color: #999;
  text-align: center;
}
.template-gift_card .gift-card-qr-code {
  display: block;
}
.template-gift_card .gift-card-qr-code img {
  padding: 1.25em;
  margin: 0 auto 1.25em;
  border: 1px solid #f2f2f2;
  border-radius: 10px;
}
.template-gift_card .gift-card-actions {
  position: relative;
  display: block;
  padding: 1.25em 0.75em;
  overflow: hidden;
  text-align: center;
  border-top: 1px solid #f2f2f2;
}
.template-gift_card .action-link {
  position: absolute;
  top: 1.25em;
  left: 1.25em;
  margin-top: 1.75em;
  font-size: 0.875em;
  letter-spacing: 0.2em;
  color: #bfbfbf;
  text-transform: uppercase;
}
.template-gift_card .action-link:hover {
  color: #999;
}
.template-gift_card .action-link:hover .ico-16 {
  opacity: 0.4;
}
.template-gift_card .ico-16 {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 0.5em;
  margin-bottom: -1px;
  vertical-align: bottom;
  background-position: 0 0;
  background-repeat: no-repeat;
  opacity: 0.25;
  zoom: 1;
  transition: opacity 0.3s ease-in-out;
}
.template-gift_card .ico-16.print {
  background-image: url("//cdn.shopify.com/s/assets/gift-card/icon-print-164daa1ae32d10d1f9b83ac21b6f2c70.png");
}
.template-gift_card footer[role=contentinfo] {
  padding-bottom: 3em;
  text-align: center;
  animation: fadein 0.5s ease-in-out both 0.4s;
}
.template-gift_card .gift-card-apple-wallet-badge {
  display: inline-block;
}
.template-gift_card .gift-card-apple-wallet-badge-image {
  display: block;
}
@media screen and (max-width: 580px) {
  .template-gift_card body {
    font-size: 15px;
  }
  .template-gift_card h2 {
    font-size: 1.5em;
  }
  .template-gift_card .gift-card-outer-container {
    padding: 0.5em;
  }
  .template-gift_card .tooltip-container {
    top: -65%;
  }
  .template-gift_card .gift-card-actions .btn {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    font-size: 1.125em;
  }
  .template-gift_card .action-link {
    position: relative !important;
    top: auto !important;
    right: auto !important;
    left: auto !important;
    display: none;
    font-size: 1.125em;
  }
  .template-gift_card .action-link + .action-link {
    margin-left: 1.5em;
  }
}
@media screen and (max-width: 400px) {
  .template-gift_card h2 {
    font-size: 1.25em;
  }
  .template-gift_card .gift-card {
    font-size: 10px;
  }
  .template-gift_card .gift-card-holder .corner {
    display: none;
  }
  .template-gift_card .gift-card-holder .corner.bottom-right {
    background-position: bottom right !important;
  }
  .template-gift_card .gift-card-amount strong {
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
  }
  .template-gift_card .tooltip-container {
    top: -75%;
  }
}
@media screen and (max-height: 800px) {
  .template-gift_card .shop-title {
    max-height: 100px;
  }
}
@media screen and (max-height: 750px) {
  .template-gift_card .shop-title {
    max-height: 80px;
  }
  .template-gift_card header {
    padding: 2em 0;
  }
  .template-gift_card footer[role=contentinfo],
.template-gift_card main {
    padding-bottom: 2em;
  }
}
@media print {
  @page {
    .template-gift_card {
      margin: 0.5cm;
    }
  }
  .template-gift_card p,
.template-gift_card h2,
.template-gift_card h3 {
    orphans: 3;
    widows: 3;
  }
  .template-gift_card h2,
.template-gift_card h3 {
    page-break-after: avoid;
  }
  .template-gift_card body {
    background-color: #fff;
  }
  .template-gift_card .gift-card-actions,
.template-gift_card .gift-card-holder .corner,
.template-gift_card .tooltip-container,
.template-gift_card .gift-card::before {
    display: none;
  }
  .template-gift_card .gift-card-code-inner strong {
    color: #555;
  }
  .template-gift_card .gift-card-amount .tooltip {
    color: #fff !important;
  }
  .template-gift_card .shop-title {
    color: #58686f;
  }
  .template-gift_card .gift-card-outer-container,
.template-gift_card .gift-card-inner-container,
.template-gift_card .gift-card-code-inner,
.template-gift_card .gift-card::before {
    box-shadow: none;
  }
}