@import url("https://dev.layouthub.com/storage/libraries/Swiper/swiper-bundle.min.css?vendor_id=css_swiper_slider");@import url("https://dev.layouthub.com/storage/libraries/jquery.fancybox.min.css?vendor_id=css_fancy_popup");@import url("https://dev.layouthub.com/storage/libraries/layouthub.css?vendor_id=css_layouthub_base");@import url("https://dev.layouthub.com/storage/libraries/LineIcons/LineIcons.css?vendor_id=css_line_icon");







.lh-container{
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width:576px) {
  .lh-container{
    max-width: 540px
  }
}

@media screen and (min-width:768px) {
  .lh-container{
    max-width: 720px
  }
}

@media screen and (min-width:992px) {
  .lh-container{
    max-width: 960px
  }
}

@media screen and (min-width:1200px) {
  .lh-container{
    max-width: 1200px
  }
}

.lh-container-fluid{
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.lh-row{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.lh-col-md-1,
.lh-col-md-2,
.lh-col-md-3,
.lh-col-md-4,
.lh-col-md-5,
.lh-col-md-6,
.lh-col-md-7,
.lh-col-md-8,
.lh-col-md-9,
.lh-col-md-10,
.lh-col-md-11,
.lh-col-md-12{
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  box-sizing: border-box;
}

.lh-col-md-1{
  -ms-flex: 0 0 8.333333%;
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}

.lh-col-md-2{
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.lh-col-md-3{
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}

.lh-col-md-4{
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.lh-col-md-5{
  -ms-flex: 0 0 41.666667%;
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

.lh-col-md-6{
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.lh-col-md-7{
  -ms-flex: 0 0 58.333333%;
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

.lh-col-md-8{
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.lh-col-md-9{
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
}

.lh-col-md-10{
  -ms-flex: 0 0 83.333333%;
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

.lh-col-md-11{
  -ms-flex: 0 0 91.666667%;
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}

.lh-col-md-12{
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

section[data-layouthub="section"] *{
  box-sizing: border-box;
}

section[data-layouthub="section"] *:before,
section[data-layouthub="section"] *:after{
  box-sizing: inherit;
  color: inherit;
}

section[data-layouthub="section"] h1,
section[data-layouthub="section"] h2,
section[data-layouthub="section"] h3,
section[data-layouthub="section"] h4,
section[data-layouthub="section"] h5,
section[data-layouthub="section"] h6{
  color: #141414;
  font-weight: 700;
  line-height: 1.28;
  letter-spacing: 0;
  margin: 0;
  padding: 0;
}

section[data-layouthub="section"] p{
  margin: 0;
  padding: 0;
}

section[data-layouthub="section"] a{
  text-decoration: none;
  transition: all 0.3s ease 0s;
}

section[data-layouthub="section"] ul,
section[data-layouthub="section"] li{
  margin: 0;
  padding: 0;
  list-style: none;
}

section[data-layouthub="section"] img{
  max-width: 100%;
  border: 0;
}
text[data-lhi] {display: inline-block;}[data-lhi]:not(img):empty,img[src=""]{display: none;}[data-layouthub="section"] [data-lhi] pre{padding-left: 1rem;border-left: 3px solid var(--lh-color);}[data-layouthub="section"] [data-lh-live-editor] ol {padding-left: revert !important;list-style-type: decimal !important;} [data-layouthub="section"] [data-lh-live-editor] ul{padding-left: revert !important;list-style-type: disc !important;}[data-layouthub="section"] [data-lh-live-editor] li {list-style: inherit !important;} section[data-section-id="MnVAFIXHZc"] .lh-section .lh-row{
    align-items: center;
}

section[data-section-id="MnVAFIXHZc"]{
  scroll-behavior: smooth;
}

section[data-section-id="MnVAFIXHZc"] .lh-header{
    padding-top: 16px;
}

section[data-section-id="MnVAFIXHZc"] .lh-header-logo .lh-txt-logo a{
    font-weight: bold;
    font-size: calc(var(--lh-font-size) * 2.25);
    line-height: 1.5;
    letter-spacing: -0.02em;
    color: rgb(42, 42, 42);
    display: inline-block;
}

section[data-section-id="MnVAFIXHZc"] .lh-txt-logo a:hover{
    color: var(--lh-color);
}

section[data-section-id="MnVAFIXHZc"] .lh-logo{
    padding: 13px 0px;
}

section[data-section-id="MnVAFIXHZc"] .lh-call a{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-weight: 500;
    font-family: var(--lh-title-font-family);
    line-height: 1.5;
}

section[data-section-id="MnVAFIXHZc"] .lh-call i{
    font-size: calc(var(--lh-font-size) * 1.25);
    margin-right: 12px;
}

section[data-section-id="MnVAFIXHZc"] .lh-call span:nth-child(2){
    margin-right: 8px;
    font-size: calc(var(--lh-font-size) * 1);
    color: rgb(136, 136, 136);
}

section[data-section-id="MnVAFIXHZc"] .lh-call span:nth-child(3){
    font-size: calc(var(--lh-font-size) * 1.5);
    color: rgb(240, 79, 113);
}

section[data-section-id="MnVAFIXHZc"] .lh-header-logo img{
    cursor: pointer;
}

section[data-section-id="MnVAFIXHZc"] .lh-banner{
    padding: 88px 0px;
}

section[data-section-id="MnVAFIXHZc"] .lh-img{
    text-align: center;
}

section[data-section-id="MnVAFIXHZc"] .lh-banner-txt{
    margin-left: 20px;
}

section[data-section-id="MnVAFIXHZc"] .lh-main-title{
    font-weight: 500;
    font-size: calc(var(--lh-font-size) * 3);
    line-height: 1.25;
    letter-spacing: -0.02em;
    color: rgb(42, 42, 42);
    margin-bottom: 24px;
}

section[data-section-id="MnVAFIXHZc"] .lh-main-title span{
    color: rgb(240, 79, 113);
    font-style: italic;
}

section[data-section-id="MnVAFIXHZc"] .lh-desc{
    font-size: calc(var(--lh-font-size) * 1);
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: rgb(119, 119, 119);
    margin-bottom: 48px;
}

section[data-section-id="MnVAFIXHZc"] .lh-cus-btn{
    display: flex;
}

section[data-section-id="MnVAFIXHZc"] .lh-btn-main{
    margin-right: 12px;
}

section[data-section-id="MnVAFIXHZc"] .lh-btn a{
    text-align: center;
    font-weight: 600;
    font-size: calc(var(--lh-font-size) * 0.875);
    line-height: 1.57;
    letter-spacing: 2px;
    padding: 13px 64px;
    color: rgb(255, 255, 255);
    display: inline-block;
    border-radius: 40px;
    font-family: var(--lh-title-font-family);
    cursor: pointer !important;
}

section[data-section-id="MnVAFIXHZc"] .lh-btn-main a{
    background: var(--lh-color);
}

section[data-section-id="MnVAFIXHZc"] .lh-btn-main a:hover{
    color: var(--lh-color);
    background: rgb(255, 255, 255);
    border: 1px solid var(--lh-color);
}

section[data-section-id="MnVAFIXHZc"] .lh-wrap-play a{
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: rgb(0, 0, 0);
}

section[data-section-id="MnVAFIXHZc"] .lh-wrap-play a i{
    margin-right: 8px;
}

section[data-section-id="MnVAFIXHZc"] .lh-wrap-play a:hover{
    background: var(--lh-color);
    color: rgb(255, 255, 255);
}

@media screen and (max-width: 991px) {
    section[data-section-id="MnVAFIXHZc"] .lh-col-md-1{
        display: none;
    }

    section[data-section-id="MnVAFIXHZc"] .lh-col-md-5{
        flex: 0 0 40%;
        max-width: 40%;
    }

    section[data-section-id="MnVAFIXHZc"] .lh-col-md-6{
        flex: 0 0 60%;
        max-width: 60%;
    }

    section[data-section-id="MnVAFIXHZc"] .lh-main-title{
        font-size: calc(var(--lh-font-size) * 2.25);
    }

    section[data-section-id="MnVAFIXHZc"] .lh-btn a{
        padding: 12px 28px;
    }
}

@media screen and (max-width: 767px) {

    section[data-section-id="MnVAFIXHZc"] .lh-col-md-6, section[data-section-id="MnVAFIXHZc"] .lh-col-md-4, section[data-section-id="MnVAFIXHZc"] .lh-col-md-8, section[data-section-id="MnVAFIXHZc"] .lh-col-md-5{
        flex: 0 0 100%;
        max-width: 100%;
    }

    section[data-section-id="MnVAFIXHZc"] .lh-header-logo{
        text-align: center;
        margin-bottom: 12px;
    }

    section[data-section-id="MnVAFIXHZc"] .lh-call a{
        justify-content: center;
    }

    section[data-section-id="MnVAFIXHZc"] .lh-banner{
        padding: 68px 0px;
    }

    section[data-section-id="MnVAFIXHZc"] .lh-banner-txt{
        text-align: center;
        margin: 40px 0px 0px;
    }

    section[data-section-id="MnVAFIXHZc"] .lh-img{
        margin-top: 0px;
    }

    section[data-section-id="MnVAFIXHZc"] .lh-main-title, section[data-section-id="MnVAFIXHZc"] .lh-price-new{
        font-size: calc(var(--lh-font-size) * 2);
    }

    section[data-section-id="MnVAFIXHZc"] .lh-cus-btn{
        display: block;
    }

    section[data-section-id="MnVAFIXHZc"] .lh-btn a{
        display: block;
    }

    section[data-section-id="MnVAFIXHZc"] .lh-cus-btn .lh-btn-main{
        margin-bottom: 12px;
        margin-right: 0px;
    }
}section[data-section-id="MnVAFIXHZc"]{background: #FFFFFF url(../assets/Bg.png?v=1533731796) center bottom/cover no-repeat scroll}@media screen and (max-width: 991px) and (min-width: 768px) {}@media screen and (max-width: 767px) {}section[data-section-id="MnVAFIXHZc"] [data-lhi="text2"]:not([data-lhi-child="a"]), section[data-section-id="MnVAFIXHZc"] [data-hub-attr-text2], section[data-section-id="MnVAFIXHZc"] [data-estyle="text2"]:not([data-lhi]),section[data-section-id="MnVAFIXHZc"] [data-lhi="text2"][data-lhi-child="a"] a {color: #000000 !important;font-size: calc(var(--lh-font-size) * 1.4) !important;}section[data-section-id="MnVAFIXHZc"] [data-lhi="text1"]:not([data-lhi-child="a"]), section[data-section-id="MnVAFIXHZc"] [data-hub-attr-text1], section[data-section-id="MnVAFIXHZc"] [data-estyle="text1"]:not([data-lhi]),section[data-section-id="MnVAFIXHZc"] [data-lhi="text1"][data-lhi-child="a"] a {color: var(--lh-color) !important;font-weight: bolder !important;font-style: normal !important;text-decoration: none solid rgb(42, 42, 42) !important;text-transform: none !important;font-size: calc(var(--lh-font-size) * 3.2) !important;}section[data-section-id="MnVAFIXHZc"] [data-lhi="btn_link"]:not([data-lhi-child="a"]), section[data-section-id="MnVAFIXHZc"] [data-hub-attr-btn_link], section[data-section-id="MnVAFIXHZc"] [data-estyle="btn_link"]:not([data-lhi]),section[data-section-id="MnVAFIXHZc"] [data-lhi="btn_link"][data-lhi-child="a"] a {font-weight: bolder !important;font-style: normal !important;text-decoration: none solid rgb(255, 255, 255) !important;text-transform: none !important;font-size: calc(var(--lh-font-size) * 1.1) !important;letter-spacing: 2px !important;padding-right: 200px !important;padding-left: 200px !important;line-height: calc(var(--lh-font-size) * 2) !important;display: none !important;}section[data-section-id="MnVAFIXHZc"] [data-lhi="btn_link"], section[data-section-id="MnVAFIXHZc"] [data-estyle="btn_link"]:not([data-lhi]) {display: none !important;}section[data-section-id="MnVAFIXHZc"] [data-lhi="txt_w"]:not([data-lhi-child="a"]), section[data-section-id="MnVAFIXHZc"] [data-hub-attr-txt_w], section[data-section-id="MnVAFIXHZc"] [data-estyle="txt_w"]:not([data-lhi]),section[data-section-id="MnVAFIXHZc"] [data-lhi="txt_w"][data-lhi-child="a"] a {display: none !important;}section[data-section-id="MnVAFIXHZc"] [data-lhi="txt_w"], section[data-section-id="MnVAFIXHZc"] [data-estyle="txt_w"]:not([data-lhi]) {display: none !important;}@media screen and (max-width: 991px) and (min-width: 768px) {section[data-section-id="MnVAFIXHZc"] {display: none !important;}}@media screen and (max-width: 767px) {section[data-section-id="MnVAFIXHZc"] {display: none !important;}} section[data-section-id="k76tffhupp"] .lh-section .lh-row{
    align-items: center;
}

   section[data-section-id="k76tffhupp"]{
    scroll-behavior: smooth;
}

section[data-section-id="k76tffhupp"] .lh-header{
    padding-top: 16px;
}

section[data-section-id="k76tffhupp"] .lh-header-logo .lh-txt-logo a{
    font-weight: bold;
    font-size: calc(var(--lh-font-size) * 2.25);
    line-height: 1.5;
    letter-spacing: -0.02em;
    color: rgb(42, 42, 42);
    display: inline-block;
}

section[data-section-id="k76tffhupp"] .lh-txt-logo a:hover{
    color: var(--lh-color);
}



section[data-section-id="k76tffhupp"] .lh-call a{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-weight: 500;
    font-family: var(--lh-title-font-family);
    line-height: 1.5;
}

section[data-section-id="k76tffhupp"] .lh-call i{
    font-size: calc(var(--lh-font-size) * 1.25);
    margin-right: 12px;
}

section[data-section-id="k76tffhupp"] .lh-call span:nth-child(2){
    margin-right: 8px;
    font-size: calc(var(--lh-font-size) * 1);
    color: rgb(136, 136, 136);
}

section[data-section-id="k76tffhupp"] .lh-call span:nth-child(3){
    font-size: calc(var(--lh-font-size) * 1.5);
    color: rgb(240, 79, 113);
}

section[data-section-id="k76tffhupp"] .lh-header-logo img{
    cursor: pointer;
}

section[data-section-id="k76tffhupp"] .lh-banner{
    padding: 88px 0px;
}

section[data-section-id="k76tffhupp"] .lh-img{
    text-align: center;
}

section[data-section-id="k76tffhupp"] .lh-banner-txt{
    margin-left: 20px;
}

section[data-section-id="k76tffhupp"] .lh-main-title{
    font-weight: 500;
    font-size: calc(var(--lh-font-size) * 3);
    line-height: 1.25;
    letter-spacing: -0.02em;
    color: rgb(42, 42, 42);
    margin-bottom: 24px;
}

section[data-section-id="k76tffhupp"] .lh-main-title span{
    color: rgb(240, 79, 113);
    font-style: italic;
}

section[data-section-id="k76tffhupp"] .lh-desc{
    font-size: calc(var(--lh-font-size) * 1);
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: rgb(119, 119, 119);
    margin-bottom: 48px;
}

section[data-section-id="k76tffhupp"] .lh-cus-btn{
    display: flex;
}

section[data-section-id="k76tffhupp"] .lh-btn-main{
    margin-right: 12px;
}

section[data-section-id="k76tffhupp"] .lh-btn a{
    text-align: center;
    font-weight: 600;
    font-size: calc(var(--lh-font-size) * 0.875);
    line-height: 1.57;
    letter-spacing: 2px;
    padding: 13px 64px;
    color: rgb(255, 255, 255);
    display: inline-block;
    border-radius: 40px;
    font-family: var(--lh-title-font-family);
    cursor: pointer !important;
}

section[data-section-id="k76tffhupp"] .lh-btn-main a{
    background: var(--lh-color);
}

section[data-section-id="k76tffhupp"] .lh-btn-main a:hover{
    color: var(--lh-color);
    background: rgb(255, 255, 255);
    border: 1px solid var(--lh-color);
}

section[data-section-id="k76tffhupp"] .lh-wrap-play a{
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: rgb(0, 0, 0);
}

section[data-section-id="k76tffhupp"] .lh-wrap-play a i{
    margin-right: 8px;
}

section[data-section-id="k76tffhupp"] .lh-wrap-play a:hover{
    background: var(--lh-color);
    color: rgb(255, 255, 255);
}

@media screen and (max-width: 991px) {
    section[data-section-id="k76tffhupp"] .lh-col-md-1{
        display: none;
    }

    section[data-section-id="k76tffhupp"] .lh-col-md-5{
        flex: 0 0 40%;
        max-width: 40%;
    }

    section[data-section-id="k76tffhupp"] .lh-col-md-6{
        flex: 0 0 60%;
        max-width: 60%;
    }

    section[data-section-id="k76tffhupp"] .lh-main-title{
        font-size: calc(var(--lh-font-size) * 2.25);
    }

    section[data-section-id="k76tffhupp"] .lh-btn a{
        padding: 12px 28px;
    }
}

@media screen and (max-width: 767px) {

    section[data-section-id="k76tffhupp"] .lh-col-md-6, section[data-section-id="k76tffhupp"] .lh-col-md-4, section[data-section-id="k76tffhupp"] .lh-col-md-8, section[data-section-id="k76tffhupp"] .lh-col-md-5{
        flex: 0 0 100%;
        max-width: 100%;
    }

    section[data-section-id="k76tffhupp"] .lh-header-logo{
        text-align: center;
        margin-bottom: 12px;
    }

    section[data-section-id="k76tffhupp"] .lh-call a{
        justify-content: center;
    }

    section[data-section-id="k76tffhupp"] .lh-banner{
        padding: 68px 0px;
    }

    section[data-section-id="k76tffhupp"] .lh-banner-txt{
        text-align: center;
        margin: 40px 0px 0px;
    }

    section[data-section-id="k76tffhupp"] .lh-img{
        margin-top:-80px;
    }

    section[data-section-id="k76tffhupp"] .lh-main-title, section[data-section-id="k76tffhupp"] .lh-price-new{
        font-size: calc(var(--lh-font-size) * 2);
    }

    section[data-section-id="k76tffhupp"] .lh-cus-btn{
        display: block;
    }

    section[data-section-id="k76tffhupp"] .lh-btn a{
        display: block;
    }

    section[data-section-id="k76tffhupp"] .lh-cus-btn .lh-btn-main{
        margin-bottom: 12px;
        margin-right: 0px;
    }
}section[data-section-id="k76tffhupp"]{background: #FFFFFF url(../assets/Bg.png?v=560352246) center bottom/cover no-repeat scroll}@media screen and (max-width: 991px) and (min-width: 768px) {}@media screen and (max-width: 767px) {}section[data-section-id="k76tffhupp"] [data-lhi="text2"]:not([data-lhi-child="a"]), section[data-section-id="k76tffhupp"] [data-hub-attr-text2], section[data-section-id="k76tffhupp"] [data-estyle="text2"]:not([data-lhi]),section[data-section-id="k76tffhupp"] [data-lhi="text2"][data-lhi-child="a"] a {color: #000000 !important;font-size: calc(var(--lh-font-size) * 1.4) !important;}section[data-section-id="k76tffhupp"] [data-lhi="text1"]:not([data-lhi-child="a"]), section[data-section-id="k76tffhupp"] [data-hub-attr-text1], section[data-section-id="k76tffhupp"] [data-estyle="text1"]:not([data-lhi]),section[data-section-id="k76tffhupp"] [data-lhi="text1"][data-lhi-child="a"] a {color: var(--lh-color) !important;font-weight: bolder !important;font-style: normal !important;text-decoration: none solid rgb(42, 42, 42) !important;text-transform: none !important;font-size: calc(var(--lh-font-size) * 3.2) !important;}section[data-section-id="k76tffhupp"] [data-lhi="btn_link"]:not([data-lhi-child="a"]), section[data-section-id="k76tffhupp"] [data-hub-attr-btn_link], section[data-section-id="k76tffhupp"] [data-estyle="btn_link"]:not([data-lhi]),section[data-section-id="k76tffhupp"] [data-lhi="btn_link"][data-lhi-child="a"] a {font-weight: bolder !important;font-style: normal !important;text-decoration: none solid rgb(255, 255, 255) !important;text-transform: none !important;font-size: calc(var(--lh-font-size) * 1.1) !important;letter-spacing: 2px !important;padding-right: 200px !important;padding-left: 200px !important;line-height: calc(var(--lh-font-size) * 2) !important;}@media screen and (max-width: 767px) {section[data-section-id="k76tffhupp"] [data-lhi="btn_link"]:not([data-lhi-child="a"]), section[data-section-id="k76tffhupp"] [data-hub-attr-btn_link], section[data-section-id="k76tffhupp"] [data-estyle="btn_link"]:not([data-lhi]),section[data-section-id="k76tffhupp"] [data-lhi="btn_link"][data-lhi-child="a"] a {margin-top: -20px !important;padding-right: 0px !important;padding-left: 0px !important;display: none !important;}section[data-section-id="k76tffhupp"] [data-lhi="btn_link"], section[data-section-id="k76tffhupp"] [data-estyle="btn_link"]:not([data-lhi]) {display: none !important;}}section[data-section-id="k76tffhupp"] [data-lhi="txt_w"]:not([data-lhi-child="a"]), section[data-section-id="k76tffhupp"] [data-hub-attr-txt_w], section[data-section-id="k76tffhupp"] [data-estyle="txt_w"]:not([data-lhi]),section[data-section-id="k76tffhupp"] [data-lhi="txt_w"][data-lhi-child="a"] a {display: none !important;}section[data-section-id="k76tffhupp"] [data-lhi="txt_w"], section[data-section-id="k76tffhupp"] [data-estyle="txt_w"]:not([data-lhi]) {display: none !important;}@media screen and (max-width: 767px) {section[data-section-id="k76tffhupp"] [data-lhi="call"]:not([data-lhi-child="a"]), section[data-section-id="k76tffhupp"] [data-hub-attr-call], section[data-section-id="k76tffhupp"] [data-estyle="call"]:not([data-lhi]),section[data-section-id="k76tffhupp"] [data-lhi="call"][data-lhi-child="a"] a {display: none !important;}section[data-section-id="k76tffhupp"] [data-lhi="call"], section[data-section-id="k76tffhupp"] [data-estyle="call"]:not([data-lhi]) {display: none !important;}}@media screen and (min-width: 1001px) {section[data-section-id="k76tffhupp"] {display: none !important;}}@media screen and (max-width: 991px) and (min-width: 768px) {section[data-section-id="k76tffhupp"] {display: none !important;}} section[data-section-id="wyjl7ajrji"] .lh-txt-top{
	 font-weight: normal;
	 font-size: calc(var(--lh-font-size) * 1);
	 line-height: 1.3;
	 letter-spacing: 2px;
	 margin-bottom: 16px;
	 color: var(--lh-color);
	 text-align: center; 
}
section[data-section-id="wyjl7ajrji"] .lh-title{
	 position: relative;
	 font-size: calc(var(--lh-font-size) * 2.25);
	 margin-bottom: 40px;
	 line-height: 1.35;
	 font-weight: 500;
	 color: rgb(51, 51, 51);
	 text-align: center; 
}
section[data-section-id="wyjl7ajrji"] .lh-avatar{
	 text-align: center; 
}
section[data-section-id="wyjl7ajrji"] .lh-testimonials-content{
	 position: relative; 
}
section[data-section-id="wyjl7ajrji"] .lh-testimonials-content .swiper-button-next::after, section[data-section-id="wyjl7ajrji"] .lh-testimonials-content .swiper-button-prev::after{
	 content: ""; 
}
section[data-section-id="wyjl7ajrji"] .lh-testimonials-content .swiper-button-next, section[data-section-id="wyjl7ajrji"] .lh-testimonials-content .swiper-button-prev{
	 position: absolute;
	 top: 50%;
	 transform: translateY(-85%);
	 text-align: center;
	 cursor: pointer;
	 visibility: visible;
	 opacity: 1;
	 transition: all 0.3s ease 0s;
	 border-radius: 50%;
	 font-size: calc(var(--lh-font-size) * 1.5);
	 color: rgb(255, 255, 255);
	 padding: 5px; 
}
section[data-section-id="wyjl7ajrji"] .lh-testimonials-content .swiper-button-prev{
	 left: -45px; 
}
section[data-section-id="wyjl7ajrji"] .lh-testimonials-content .swiper-button-next{
	 right: -45px; 
}
section[data-section-id="wyjl7ajrji"] .lh-testimonials-content .swiper-button-next:hover, section[data-section-id="wyjl7ajrji"] .lh-testimonials-content .swiper-button-prev:hover{
	 background: var(--lh-color); 
}
section[data-section-id="wyjl7ajrji"] .lh-testimonials-list .swiper-pagination{
	 text-align: center;
	 position: relative;
	 margin-top: 40px;
	 bottom: 0px; 
}
section[data-section-id="wyjl7ajrji"] .lh-testimonials-list .swiper-pagination .swiper-pagination-bullet{
	 width: 10px;
	 height: 10px;
	 background: rgb(255, 255, 255);
	 position: relative;
	 transition: all 0.3s ease 0s;
	 border-radius: 100%;
	 margin: 4px 8px;
	 opacity: 1;
	 border: 1px solid rgb(130, 130, 130); 
}
section[data-section-id="wyjl7ajrji"] .lh-testimonials-list .swiper-pagination .swiper-pagination-bullet-active{
	 background: var(--lh-color);
	 border: 1px solid var(--lh-color); 
}
section[data-section-id="wyjl7ajrji"] .lh-dots-no .swiper-pagination, section[data-section-id="wyjl7ajrji"] .lh-nav-no .swiper-button-next, section[data-section-id="wyjl7ajrji"] .lh-nav-no .swiper-button-prev{
	 display: none; 
}
@media (max-width: 991px) {
	section[data-section-id="wyjl7ajrji"] .lh-title{
		 font-size: calc(var(--lh-font-size) * 2) ; 
	}
	section[data-section-id="wyjl7ajrji"] .lh-testimonials-content .swiper-button-prev, section[data-section-id="wyjl7ajrji"] .lh-testimonials-content .swiper-button-next{
		 font-size: calc(var(--lh-font-size) * 1); 
	}
	section[data-section-id="wyjl7ajrji"] .lh-testimonials-content .swiper-button-prev{
		 left: -30px; 
	}
	section[data-section-id="wyjl7ajrji"] .lh-testimonials-content .swiper-button-next{
		 right: -30px;
	}
}
@media (max-width: 767px) {
	section[data-section-id="wyjl7ajrji"] .lh-title{
		 font-size: calc(var(--lh-font-size) * 1.75);
		 margin-bottom: 32px;
	}
}section[data-section-id="wyjl7ajrji"]{margin-top: 50px;margin-bottom: -;background: #fff}@media screen and (max-width: 991px) and (min-width: 768px) {section[data-section-id="wyjl7ajrji"]{margin-top: 50px;margin-bottom: -40px;padding-top: 80px;padding-bottom: 40px;}}@media screen and (max-width: 767px) {}section[data-section-id="wyjl7ajrji"] [data-lhi="txt_top"]:not([data-lhi-child="a"]), section[data-section-id="wyjl7ajrji"] [data-hub-attr-txt_top], section[data-section-id="wyjl7ajrji"] [data-estyle="txt_top"]:not([data-lhi]),section[data-section-id="wyjl7ajrji"] [data-lhi="txt_top"][data-lhi-child="a"] a {display: none !important;}section[data-section-id="wyjl7ajrji"] [data-lhi="txt_top"], section[data-section-id="wyjl7ajrji"] [data-estyle="txt_top"]:not([data-lhi]) {display: none !important;}section[data-section-id="wyjl7ajrji"] [data-lhi="text_title"]:not([data-lhi-child="a"]), section[data-section-id="wyjl7ajrji"] [data-hub-attr-text_title], section[data-section-id="wyjl7ajrji"] [data-estyle="text_title"]:not([data-lhi]),section[data-section-id="wyjl7ajrji"] [data-lhi="text_title"][data-lhi-child="a"] a {font-weight: bold !important;font-style: normal !important;text-decoration: none solid rgb(51, 51, 51) !important;text-transform: none !important;font-size: calc(var(--lh-font-size) * 3) !important;color: var(--lh-color) !important;line-height: calc(var(--lh-font-size) * 3) !important;} section[data-section-id="etsmd3xdvdw"] .lh-s-row{
	 margin-bottom: -67px;
	 justify-content: center; 
}
section[data-section-id="etsmd3xdvdw"] .lh-item{
	 margin-bottom: 67px;
	 display: flex;
	 align-items: flex-start;
	 flex-wrap: wrap;
	 text-align: left; 
}
section[data-section-id="etsmd3xdvdw"] .lh-icon{
	 flex: 0 0 auto;
	 display: inline-flex;
	 justify-content: center;
	 align-items: center;
	 background-color: rgb(243, 243, 243);
	 border-radius: 50%;
	 color: rgb(185, 185, 185);
	 transition: box-shadown 0.3s ease 0s;
	 margin: 0px 30px 0px 0px; 
}
section[data-section-id="etsmd3xdvdw"] .lh-icon i, section[data-section-id="etsmd3xdvdw"] .lh-icon-img img{
	 padding: 19px; 
}
section[data-section-id="etsmd3xdvdw"] .lh-item:hover .lh-icon{
	 box-shadow: 0px 0px 2px 2px var(--lh-color); 
}
section[data-section-id="etsmd3xdvdw"] .lh-icon img{
	 max-width: 100%; 
}
section[data-section-id="etsmd3xdvdw"] .lh-icon i{
	 font-size: calc(var(--lh-font-size) * 2.625);
	 color: inherit; 
}
section[data-section-id="etsmd3xdvdw"] .lh-text{
	 flex: 1 1 65%;
	 max-width: 100%; 
}
section[data-section-id="etsmd3xdvdw"] .lh-text h4{
	 font-size: calc(var(--lh-font-size) * 1.25);
	 line-height: 1.3;
	 letter-spacing: -0.2px;
	 margin: 5px 0px 3px; 
}
section[data-section-id="etsmd3xdvdw"] .lh-text p{
	 font-size: calc(var(--lh-font-size) * 1);
	 font-weight: normal;
	 line-height: 1.5;
	 letter-spacing: -0.1px;
	 color: rgb(97, 97, 97);
	 margin-right: 25%; 
}
@media screen and (max-width: 991px) {
	section[data-section-id="etsmd3xdvdw"] .lh-col-md-4{
		 flex: 0 0 50%;
		 max-width: 50%; 
	}
	section[data-section-id="etsmd3xdvdw"] .lh-text p{
		 margin-right: 0px;
	}
}
@media screen and (max-width: 575px) {
	section[data-section-id="etsmd3xdvdw"] .lh-col-md-4{
		 flex: 0 0 100%;
		 max-width: 100%; 
	}
	section[data-section-id="etsmd3xdvdw"] .lh-item{
		 flex-direction: column; 
	}
	section[data-section-id="etsmd3xdvdw"] .lh-icon{
		 margin: 0px 0px 25px; 
	}
	section[data-section-id="etsmd3xdvdw"] .lh-s-row{
		 margin-bottom: -45px; 
	}
	section[data-section-id="etsmd3xdvdw"] .lh-item{
		 margin-bottom: 45px;
	}
}section[data-section-id="etsmd3xdvdw"]{background: #fff}@media screen and (max-width: 991px) and (min-width: 768px) {section[data-section-id="etsmd3xdvdw"]{padding-top: 80px;padding-bottom: 80px;background: #fff}}@media screen and (max-width: 767px) {section[data-section-id="etsmd3xdvdw"]{padding-top: 65px;padding-bottom: 65px;background: #fff}}section[data-section-id="etsmd3xdvdw"] [data-lhis="items-des"]:not([data-lhi-child="a"]), section[data-section-id="etsmd3xdvdw"] [data-lhis="items-des"][data-lhi-child="a"] a {color: #000000 !important;font-size: calc(var(--lh-font-size) * 1.1) !important;}section[data-section-id="etsmd3xdvdw"] [data-lhis="items-title"]:not([data-lhi-child="a"]), section[data-section-id="etsmd3xdvdw"] [data-lhis="items-title"][data-lhi-child="a"] a {color: var(--lh-color) !important;font-weight: bold !important;font-size: calc(var(--lh-font-size) * 1.5) !important;}section[data-section-id="etsmd3xdvdw"] [data-lhis="items-font_icon"]:not([data-lhi-child="a"]), section[data-section-id="etsmd3xdvdw"] [data-lhis="items-font_icon"][data-lhi-child="a"] a {color: var(--lh-color) !important;} 
section[data-section-id="Zq8IUCrGwx"] .lh-title{
    position: relative;
    font-size: calc(var(--lh-font-size) * 2.25);
    margin-bottom: 60px;
    line-height: 1.35;
    font-weight: 500;
    letter-spacing: -0.02em;
    color: #2A2A2A;
}
section[data-section-id="Zq8IUCrGwx"] .lh-item{
    margin-left: 27%;
    margin-bottom: 80px;
    margin-top: 4px;
}
section[data-section-id="Zq8IUCrGwx"] .lh-item-top{
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}
section[data-section-id="Zq8IUCrGwx"] .lh-item-icon{
    margin-right: 8px;
    width: 40px;
    text-align: center;
}
section[data-section-id="Zq8IUCrGwx"] .lh-icon-font i{
    font-size: calc(var(--lh-font-size) * 1.5);
    color: #1A1A1A;
}
section[data-section-id="Zq8IUCrGwx"] .lh-item-title{
    font-weight: 600;
    font-size: calc(var(--lh-font-size) * 1.5);
    line-height: 1.35;
    color:#F04F71;

}
section[data-section-id="Zq8IUCrGwx"] .lh-desc{
    font-size: calc(var(--lh-font-size) * 1);
    line-height: 1.5;
    color: #777;

}
section[data-section-id="Zq8IUCrGwx"] .lh-benefits .lh-col-md-6:nth-last-child(1) .lh-item, section[data-section-id="Zq8IUCrGwx"] .lh-benefits .lh-col-md-6:nth-last-child(2) .lh-item{
    margin-bottom: 0px;
}
@media screen and (max-width: 991px){
section[data-section-id="Zq8IUCrGwx"] .lh-col-md-4, section[data-section-id="Zq8IUCrGwx"] .lh-col-md-8{
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
}
section[data-section-id="Zq8IUCrGwx"] .lh-title{
    font-size: calc(var(--lh-font-size) * 2);
 }
 section[data-section-id="Zq8IUCrGwx"] .lh-item{
    margin-left: 0px;
    margin-bottom: 40px;
 }
 section[data-section-id="Zq8IUCrGwx"] .lh-list-item{
    margin-top: 40px;
 }
 section[data-section-id="Zq8IUCrGwx"] .lh-item-top{
    justify-content: center;
 }
}
@media screen and (max-width: 767px){

section[data-section-id="Zq8IUCrGwx"] .lh-item{
    padding: 15px 0px;
    margin-bottom: 0px;
}
    section[data-section-id="Zq8IUCrGwx"] .lh-col-md-6{
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
section[data-section-id="Zq8IUCrGwx"] .lh-title{
    font-size: calc(var(--lh-font-size) * 1.75);
}
}section[data-section-id="Zq8IUCrGwx"]{padding-top: 100px;padding-bottom: 100px;background: #ffffff}@media screen and (max-width: 991px) and (min-width: 768px) {section[data-section-id="Zq8IUCrGwx"]{padding-top: 80px;padding-bottom: 80px;}}@media screen and (max-width: 767px) {section[data-section-id="Zq8IUCrGwx"]{padding-top: 60px;padding-bottom: 60px;}}section[data-section-id="Zq8IUCrGwx"] [data-lhi="text1"]:not([data-lhi-child="a"]), section[data-section-id="Zq8IUCrGwx"] [data-hub-attr-text1], section[data-section-id="Zq8IUCrGwx"] [data-estyle="text1"]:not([data-lhi]),section[data-section-id="Zq8IUCrGwx"] [data-lhi="text1"][data-lhi-child="a"] a {color: var(--lh-color) !important;font-weight: 300 !important;font-style: normal !important;text-decoration: none solid rgb(42, 42, 42) !important;text-transform: none !important;font-size: calc(var(--lh-font-size) * 3) !important;}section[data-section-id="Zq8IUCrGwx"] [data-lhis="list_item-title"]:not([data-lhi-child="a"]), section[data-section-id="Zq8IUCrGwx"] [data-lhis="list_item-title"][data-lhi-child="a"] a {color: var(--lh-color) !important;font-weight: bolder !important;font-style: normal !important;text-decoration: none solid rgb(240, 79, 113) !important;text-transform: none !important;}section[data-section-id="Zq8IUCrGwx"] [data-lhis="list_item-des"]:not([data-lhi-child="a"]), section[data-section-id="Zq8IUCrGwx"] [data-lhis="list_item-des"][data-lhi-child="a"] a {color: #000000 !important;font-size: calc(var(--lh-font-size) * 1.1) !important;}section[data-section-id="Zq8IUCrGwx"] [data-lhis="list_item-font_icon"]:not([data-lhi-child="a"]), section[data-section-id="Zq8IUCrGwx"] [data-lhis="list_item-font_icon"][data-lhi-child="a"] a {color: var(--lh-color) !important;font-weight: bolder !important;font-style: normal !important;text-decoration: none solid rgb(26, 26, 26) !important;text-transform: none !important;font-size: calc(var(--lh-font-size) * 1.6) !important;} @media only screen and (min-width: 650px) {
	section[data-section-id="ptrboha2gms"] .container{
		 position: relative;
		 width: 600px;
		 height: 1400px;
		 overflow: hidden;
		 padding-top: 56.25%; 
	}
	section[data-section-id="ptrboha2gms"] .responsive-iframe{
		 position: absolute;
		 overflow: hidden;
		 top: 0px;right: 0px; bottom: 0px; left: 0px;;
		 width: 100%;
		 height: 1400px;
		 border: none;
	}
}
@media only screen and (max-width: 600px) {
	section[data-section-id="ptrboha2gms"] .container{
		 position: relative;
		 width: 100%;
		 height: 1400px;
		 overflow: hidden;
		 padding-left: 42%; 
	}
	section[data-section-id="ptrboha2gms"] .responsive-iframe{
		 position: absolute;
		 overflow: hidden;
		 width: 29%;
		 height: 100%;
		 border: none;
	}
}section[data-section-id="ptrboha2gms"]{background: #fff}@media screen and (max-width: 991px) and (min-width: 768px) {section[data-section-id="ptrboha2gms"]{margin-left: -900px;}}@media screen and (max-width: 767px) {section[data-section-id="ptrboha2gms"]{margin-left: -900px;}}section[data-section-id="ptrboha2gms"] [data-lhis="contents-g_title"]:not([data-lhi-child="a"]), section[data-section-id="ptrboha2gms"] [data-lhis="contents-g_title"][data-lhi-child="a"] a {display: none !important;}section[data-section-id="ptrboha2gms"] [data-lhi="contents|g_title"] {display: none !important;}section[data-section-id="ptrboha2gms"] [data-lhis="contents-g_link"]:not([data-lhi-child="a"]), section[data-section-id="ptrboha2gms"] [data-lhis="contents-g_link"][data-lhi-child="a"] a {display: none !important;}section[data-section-id="ptrboha2gms"] [data-lhi="contents|g_link"] {display: none !important;} section[data-section-id="U5tCkdQ8NL"] .lh-accordion-section .lh-heading{
	 text-align: center;
	 margin-bottom: 48px; 
}
section[data-section-id="U5tCkdQ8NL"] .lh-accordion-section .lh-heading h3{
	 font-size: calc(var(--lh-font-size) * 2.25);
	 line-height: 1.35;
	 font-weight: 500;
	 letter-spacing: -0.02em;
	 color: rgb(26, 26, 26); 
}
section[data-section-id="U5tCkdQ8NL"] .lh-title-ques{
	 position: relative;
	 cursor: pointer !important; 
}
section[data-section-id="U5tCkdQ8NL"] .lh-info-question{
	 background: rgb(255, 255, 255);
	 border-radius: 24px;
	 margin-bottom: 24px;
	 padding: 24px;
	 border: 1px solid rgb(238, 238, 238); 
}
section[data-section-id="U5tCkdQ8NL"] .lh-info-question:last-child{
	 margin-bottom: 0px; 
}
section[data-section-id="U5tCkdQ8NL"] .lh-title-ques .lh-title{
	 font-size: calc(var(--lh-font-size) * 1.125);
	 background: none;
	 margin: 0px;
	 font-weight: 600;
	 line-height: 1.33;
	 color: rgb(26, 26, 26);
	 width: calc(100% - 40px);
	 cursor: pointer !important; 
}
section[data-section-id="U5tCkdQ8NL"] .lh-info-question.active .lh-title{
	 color: var(--lh-color);
	 margin-bottom: 16px; 
}
section[data-section-id="U5tCkdQ8NL"] .lh-title-ques .lh-icon{
	 position: absolute;
	 right: 0px;
	 top: 50%;
	 transform: translateY(-50%);
	 color: rgb(26, 26, 26); 
}
section[data-section-id="U5tCkdQ8NL"] .icon-minus{
	 display: none; 
}
section[data-section-id="U5tCkdQ8NL"] .lh-info-question.active .lh-title-ques .icon-minus{
	 display: block; 
}
section[data-section-id="U5tCkdQ8NL"] .lh-info-question.active .lh-title-ques .icon-plus{
	 display: none; 
}
section[data-section-id="U5tCkdQ8NL"] .lh-info-question .lh-desc{
	 display: none; 
}
section[data-section-id="U5tCkdQ8NL"] .lh-info-question.active .lh-desc{
	 display: block;
	 color: rgb(119, 119, 119);
	 opacity: 0.8;
	 line-height: 1.5;
	 font-size: calc(var(--lh-font-size) * 1); 
}
@media screen and (max-width: 991px) {
	section[data-section-id="U5tCkdQ8NL"] .lh-col-md-8{
		 flex: 0 0 100%;
		 max-width: 100%; 
	}
	section[data-section-id="U5tCkdQ8NL"] .lh-accordion-section .lh-heading h3{
		 font-size: calc(var(--lh-font-size) * 2);
	}
}
@media screen and (max-width: 575px) {
	section[data-section-id="U5tCkdQ8NL"] .lh-accordion-section .lh-heading{
		 margin-bottom: 40px; 
	}
	section[data-section-id="U5tCkdQ8NL"] .lh-accordion-section .lh-heading h3{
		 font-size: calc(var(--lh-font-size) * 1.75); 
	}
	section[data-section-id="U5tCkdQ8NL"] .lh-info-question{
		 padding: 16px; 
	}
	section[data-section-id="U5tCkdQ8NL"] .lh-title-ques .lh-title{
		 width: calc(100% - 20px);
	}
}
section[data-section-id="U5tCkdQ8NL"]{background: #fff}@media screen and (max-width: 991px) and (min-width: 768px) {section[data-section-id="U5tCkdQ8NL"]{padding-top: 80px;padding-bottom: 80px;}}@media screen and (max-width: 767px) {section[data-section-id="U5tCkdQ8NL"]{padding-top: 60px;padding-bottom: 60px;}}section[data-section-id="U5tCkdQ8NL"] [data-lhi="text1"]:not([data-lhi-child="a"]), section[data-section-id="U5tCkdQ8NL"] [data-hub-attr-text1], section[data-section-id="U5tCkdQ8NL"] [data-estyle="text1"]:not([data-lhi]),section[data-section-id="U5tCkdQ8NL"] [data-lhi="text1"][data-lhi-child="a"] a {font-weight: bold !important;font-style: normal !important;text-decoration: none solid rgb(26, 26, 26) !important;text-transform: none !important;color: var(--lh-color) !important;font-size: calc(var(--lh-font-size) * 3) !important;}section[data-section-id="U5tCkdQ8NL"] [data-lhis="items-item_title"]:not([data-lhi-child="a"]), section[data-section-id="U5tCkdQ8NL"] [data-lhis="items-item_title"][data-lhi-child="a"] a {font-size: calc(var(--lh-font-size) * 1.3) !important;}section[data-section-id="U5tCkdQ8NL"] [data-lhis="items-desc"]:not([data-lhi-child="a"]), section[data-section-id="U5tCkdQ8NL"] [data-lhis="items-desc"][data-lhi-child="a"] a {color: #000000 !important;font-size: calc(var(--lh-font-size) * 1.2) !important;} section[data-section-id="7e1ganaj80l"] .lh-txt-top{
	 font-weight: normal;
	 font-size: calc(var(--lh-font-size) * 1);
	 line-height: 1.3;
	 letter-spacing: 2px;
	 margin-bottom: 16px;
	 color: var(--lh-color);
	 text-align: center; 
}
section[data-section-id="7e1ganaj80l"] .lh-title{
	 position: relative;
	 font-size: calc(var(--lh-font-size) * 2.25);
	 margin-bottom: 40px;
	 line-height: 1.35;
	 font-weight: 500;
	 color: rgb(51, 51, 51);
	 text-align: center; 
}
section[data-section-id="7e1ganaj80l"] .lh-avatar{
	 text-align: center; 
}
section[data-section-id="7e1ganaj80l"] .lh-testimonials-content{
	 position: relative; 
}
section[data-section-id="7e1ganaj80l"] .lh-testimonials-content .swiper-button-next::after, section[data-section-id="7e1ganaj80l"] .lh-testimonials-content .swiper-button-prev::after{
	 content: ""; 
}
section[data-section-id="7e1ganaj80l"] .lh-testimonials-content .swiper-button-next, section[data-section-id="7e1ganaj80l"] .lh-testimonials-content .swiper-button-prev{
	 position: absolute;
	 top: 50%;
	 transform: translateY(-85%);
	 text-align: center;
	 cursor: pointer;
	 visibility: visible;
	 opacity: 1;
	 transition: all 0.3s ease 0s;
	 border-radius: 50%;
	 font-size: calc(var(--lh-font-size) * 1.5);
	 color: rgb(255, 255, 255);
	 padding: 5px; 
}
section[data-section-id="7e1ganaj80l"] .lh-testimonials-content .swiper-button-prev{
	 left: -45px; 
}
section[data-section-id="7e1ganaj80l"] .lh-testimonials-content .swiper-button-next{
	 right: -45px; 
}
section[data-section-id="7e1ganaj80l"] .lh-testimonials-content .swiper-button-next:hover, section[data-section-id="7e1ganaj80l"] .lh-testimonials-content .swiper-button-prev:hover{
	 background: var(--lh-color); 
}
section[data-section-id="7e1ganaj80l"] .lh-testimonials-list .swiper-pagination{
	 text-align: center;
	 position: relative;
	 margin-top: 40px;
	 bottom: 0px; 
}
section[data-section-id="7e1ganaj80l"] .lh-testimonials-list .swiper-pagination .swiper-pagination-bullet{
	 width: 10px;
	 height: 10px;
	 background: rgb(255, 255, 255);
	 position: relative;
	 transition: all 0.3s ease 0s;
	 border-radius: 100%;
	 margin: 4px 8px;
	 opacity: 1;
	 border: 1px solid rgb(130, 130, 130); 
}
section[data-section-id="7e1ganaj80l"] .lh-testimonials-list .swiper-pagination .swiper-pagination-bullet-active{
	 background: var(--lh-color);
	 border: 1px solid var(--lh-color); 
}
section[data-section-id="7e1ganaj80l"] .lh-dots-no .swiper-pagination, section[data-section-id="7e1ganaj80l"] .lh-nav-no .swiper-button-next, section[data-section-id="7e1ganaj80l"] .lh-nav-no .swiper-button-prev{
	 display: none; 
}
@media (max-width: 991px) {
	section[data-section-id="7e1ganaj80l"] .lh-title{
		 font-size: calc(var(--lh-font-size) * 2) ; 
	}
	section[data-section-id="7e1ganaj80l"] .lh-testimonials-content .swiper-button-prev, section[data-section-id="7e1ganaj80l"] .lh-testimonials-content .swiper-button-next{
		 font-size: calc(var(--lh-font-size) * 1); 
	}
	section[data-section-id="7e1ganaj80l"] .lh-testimonials-content .swiper-button-prev{
		 left: -30px; 
	}
	section[data-section-id="7e1ganaj80l"] .lh-testimonials-content .swiper-button-next{
		 right: -30px;
	}
}
@media (max-width: 767px) {
	section[data-section-id="7e1ganaj80l"] .lh-title{
		 font-size: calc(var(--lh-font-size) * 1.75);
		 margin-bottom: 32px;
	}
}section[data-section-id="7e1ganaj80l"]{margin-top: 50px;margin-bottom: -40px;background: #fff}@media screen and (max-width: 991px) and (min-width: 768px) {section[data-section-id="7e1ganaj80l"]{margin-top: 50px;margin-bottom: -40px;padding-top: 80px;padding-bottom: 40px;}}@media screen and (max-width: 767px) {}section[data-section-id="7e1ganaj80l"] [data-lhi="txt_top"]:not([data-lhi-child="a"]), section[data-section-id="7e1ganaj80l"] [data-hub-attr-txt_top], section[data-section-id="7e1ganaj80l"] [data-estyle="txt_top"]:not([data-lhi]),section[data-section-id="7e1ganaj80l"] [data-lhi="txt_top"][data-lhi-child="a"] a {display: none !important;}section[data-section-id="7e1ganaj80l"] [data-lhi="txt_top"], section[data-section-id="7e1ganaj80l"] [data-estyle="txt_top"]:not([data-lhi]) {display: none !important;}section[data-section-id="7e1ganaj80l"] [data-lhi="text_title"]:not([data-lhi-child="a"]), section[data-section-id="7e1ganaj80l"] [data-hub-attr-text_title], section[data-section-id="7e1ganaj80l"] [data-estyle="text_title"]:not([data-lhi]),section[data-section-id="7e1ganaj80l"] [data-lhi="text_title"][data-lhi-child="a"] a {font-weight: bold !important;font-style: normal !important;text-decoration: none solid rgb(51, 51, 51) !important;text-transform: none !important;font-size: calc(var(--lh-font-size) * 3) !important;color: var(--lh-color) !important;line-height: calc(var(--lh-font-size) * 3) !important;} section[data-section-id="9arx2uhqb9w"] .lh-txt{
	 text-align: center;
	 margin: 0px auto 40px;
	 width: 28%; 
}
section[data-section-id="9arx2uhqb9w"] .lh-title{
	 position: relative;
	 font-size: calc(var(--lh-font-size) * 2.5);
	 margin-bottom: 24px;
	 line-height: 1.4;
	 font-weight: bold;
	 color: var(--lh-color) ; 
}
section[data-section-id="9arx2uhqb9w"] .lh-desc{
	 font-size: calc(var(--lh-font-size) * 1.375);
	 line-height: 1.65;
	 color: var(--lh-color) ; 
}
section[data-section-id="9arx2uhqb9w"] .lh-detail{
	 text-align: center; 
}
section[data-section-id="9arx2uhqb9w"] .lh-img{
	 margin-bottom: 20px; 
}
section[data-section-id="9arx2uhqb9w"] .lh-img img{
	 width: 100%; 
}
section[data-section-id="9arx2uhqb9w"] .lh-rating{
	 margin-bottom: 12px; 
}
section[data-section-id="9arx2uhqb9w"] .lh-rating svg{
	 width: 20px; 
}
section[data-section-id="9arx2uhqb9w"] .lh-text-content{
	 font-size: calc(var(--lh-font-size) * 1.125);
	 line-height: 1.56;
	 color: rgb(105, 119, 118); 
}
section[data-section-id="9arx2uhqb9w"] .lh-flex{
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 margin-bottom: 16px; 
}
section[data-section-id="9arx2uhqb9w"] .lh-flex *{
	 font-size: calc(var(--lh-font-size) * 1.25);
	 line-height: 1.3;
	 font-weight: 500; 
}
section[data-section-id="9arx2uhqb9w"] .lh-name, section[data-section-id="9arx2uhqb9w"] .lh-line{
	 color: rgb(0, 0, 0); 
}
section[data-section-id="9arx2uhqb9w"] .lh-pos_name{
	 color: rgb(102, 102, 102); 
}
section[data-section-id="9arx2uhqb9w"] .lh-testimonials-content{
	 position: relative; 
}
section[data-section-id="9arx2uhqb9w"] .lh-testimonials-content .swiper-button-next::after, section[data-section-id="9arx2uhqb9w"] .lh-testimonials-content .swiper-button-prev::after{
	 content: ""; 
}
section[data-section-id="9arx2uhqb9w"] .lh-testimonials-content .swiper-button-next, section[data-section-id="9arx2uhqb9w"] .lh-testimonials-content .swiper-button-prev{
	 position: absolute;
	 top: 26%;
	 transform: translateY(-26%);
	 text-align: center;
	 cursor: pointer;
	 visibility: visible;
	 transition: all 0.3s ease 0s;
	 font-size: calc(var(--lh-font-size) * 1.5);
	 color: rgb(0, 0, 0); 
}
section[data-section-id="9arx2uhqb9w"] .lh-testimonials-content .swiper-button-prev{
	 left: -60px; 
}
section[data-section-id="9arx2uhqb9w"] .lh-testimonials-content .swiper-button-next{
	 right: -60px; 
}
section[data-section-id="9arx2uhqb9w"] .lh-testimonials-content .swiper-button-next:hover, section[data-section-id="9arx2uhqb9w"] .lh-testimonials-content .swiper-button-prev:hover{
	 color: var(--lh-color) ; 
}
section[data-section-id="9arx2uhqb9w"] .lh-testimonials-list .swiper-pagination{
	 text-align: center;
	 margin-top: 43px;
	 position: relative;
	 bottom: 0px; 
}
section[data-section-id="9arx2uhqb9w"] .lh-testimonials-list .swiper-pagination .swiper-pagination-bullet{
	 width: 12px;
	 height: 12px;
	 background: rgb(221, 221, 221);
	 position: relative;
	 transition: all 0.3s ease 0s;
	 border-radius: 100%;
	 margin: 8px 8px 0px; 
}
section[data-section-id="9arx2uhqb9w"] .lh-testimonials-list .swiper-pagination .swiper-pagination-bullet-active{
	 background: rgb(0, 0, 0); 
}
section[data-section-id="9arx2uhqb9w"] .lh-dots-no .swiper-pagination, section[data-section-id="9arx2uhqb9w"] .lh-nav-no .swiper-button-next, section[data-section-id="9arx2uhqb9w"] .lh-nav-no .swiper-button-prev{
	 display: none; 
}
@media (max-width: 991px) {
	section[data-section-id="9arx2uhqb9w"] .lh-txt{
		 width: 100%; 
	}
	section[data-section-id="9arx2uhqb9w"] .lh-testimonials-content .swiper-button-prev{
		 left: -24px; 
	}
	section[data-section-id="9arx2uhqb9w"] .lh-testimonials-content .swiper-button-next{
		 right: -24px;
	}
}
@media (max-width: 767px) {
	section[data-section-id="9arx2uhqb9w"] .lh-testimonials-content .swiper-button-prev{
		 left: -10px; 
	}
	section[data-section-id="9arx2uhqb9w"] .lh-testimonials-content .swiper-button-next{
		 right: -10px; 
	}
	section[data-section-id="9arx2uhqb9w"] .lh-title{
		 font-size: calc(var(--lh-font-size) * 2.25);
	}
}@media screen and (max-width: 991px) and (min-width: 768px) {section[data-section-id="9arx2uhqb9w"]{padding-top: 80px;padding-bottom: 80px;}}@media screen and (max-width: 767px) {section[data-section-id="9arx2uhqb9w"]{padding-top: 80px;padding-bottom: 80px;}}section[data-section-id="9arx2uhqb9w"] [data-lhi="txt_title"]:not([data-lhi-child="a"]), section[data-section-id="9arx2uhqb9w"] [data-hub-attr-txt_title], section[data-section-id="9arx2uhqb9w"] [data-estyle="txt_title"]:not([data-lhi]),section[data-section-id="9arx2uhqb9w"] [data-lhi="txt_title"][data-lhi-child="a"] a {font-size: calc(var(--lh-font-size) * 2.2) !important;display: none !important;}section[data-section-id="9arx2uhqb9w"] [data-lhi="txt_title"], section[data-section-id="9arx2uhqb9w"] [data-estyle="txt_title"]:not([data-lhi]) {display: none !important;}section[data-section-id="9arx2uhqb9w"] [data-lhis="group_testimonial-pos_name"]:not([data-lhi-child="a"]), section[data-section-id="9arx2uhqb9w"] [data-lhis="group_testimonial-pos_name"][data-lhi-child="a"] a {font-size: calc(var(--lh-font-size) * 1.1) !important;font-weight: 500 !important;font-style: normal !important;text-decoration: none solid rgb(102, 102, 102) !important;text-transform: none !important;}section[data-section-id="9arx2uhqb9w"] [data-lhi="txt_desc"]:not([data-lhi-child="a"]), section[data-section-id="9arx2uhqb9w"] [data-hub-attr-txt_desc], section[data-section-id="9arx2uhqb9w"] [data-estyle="txt_desc"]:not([data-lhi]),section[data-section-id="9arx2uhqb9w"] [data-lhi="txt_desc"][data-lhi-child="a"] a {color: var(--lh-color) !important;font-weight: 400 !important;font-style: italic !important;text-decoration: none !important;text-transform: none !important;display: none !important;}section[data-section-id="9arx2uhqb9w"] [data-lhi="txt_desc"], section[data-section-id="9arx2uhqb9w"] [data-estyle="txt_desc"]:not([data-lhi]) {display: none !important;}section[data-section-id="9arx2uhqb9w"] [data-lhis="group_testimonial-your_name"]:not([data-lhi-child="a"]), section[data-section-id="9arx2uhqb9w"] [data-lhis="group_testimonial-your_name"][data-lhi-child="a"] a {color: var(--lh-color) !important;font-weight: bold !important;font-style: normal !important;text-decoration: none solid rgb(0, 0, 0) !important;text-transform: none !important;letter-spacing: 0px !important;padding-right: 5px !important;}